{
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "debug": true,
        "modules": false,
        "targets": {
          "browsers": ["chrome >= 57", "firefox >= 45", "safari >= 9", "edge >= 12", "ios >= 9", "android >= 5"]
        },
        "useBuiltIns": true
      }
    ]
  ]
}
